<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>AILone</title>
  </head>
  <body>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                    <div class="horizontal-align">
                        <img class="animation__shake" src="{% static 'assets/dist/img/ailoan_logo_short.png' %}" alt="ai_loan_logo" height="60" width="60"> 
                        <h1>Welcome to AILone</h1>
                    </div>
                  </div>
                  <div>
                    <label>We help you simplify your loan application and eligibility process.
                           Using AILoan, as a bank customer, you can quickly discover if you are eligible for a loan 
                           with your bank. As a bank admin, you can quickly check if your applicants are eligible for
                           a loan. With AI, we help you reduce the risks, processing time and provide reliable feedback.
                    </label>
                  </div>
                  <label>Log in if you already have registered!</label>
                  <div class="form-group last mb-4">
                      <div><button class="btn btn-pill text-white btn-block btn-primary"><a href="{% url 'login' %}">login</a></button></div>
                  </div>
                  <label>If not register here!</label>
                  <div class="form-group last mb-4">
                      <div><button class="btn btn-pill text-white btn-block btn-primary"><a href="{% url 'register' %}">register</a></button></div>
                  </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  </body>
</html>
/
<style>
.horizontal-align img,
.horizontal-align h1 {
    display: inline-block;
    vertical-align: middle; /* vertically alignment */
}

</style>
